.ilustration {
    border-radius: 100%;
    background-color: rgba(252, 0, 176, 0.575);
    width: 100px;
    height: 100px;
}

.aboutMe > p.text-center {
    max-width: 40ch;
}

.colaborators > h3, .form-group > h1, .description > h2 {
    color: rgba(20, 20, 20, 0.801);
    font-weight: bold;
}

.description > p {
    max-width: 90ch;
    font-weight: bolder;
    color: rgba(48, 48, 48, 0.74);
}

