/* config-colors */

body {
    background-color: white;
}

.master-container {
    background-color: rgb(248, 247, 247);
}

.itemClick {
    transition: 1s background-color;
}

.itemClick:hover {
    background-color: grey;
    cursor: pointer;
}
.list-group, button {
    box-shadow: 2px 1px 1px 1px rgba(0,0,0,0.2);
}

hr {
    background-color: rgba(75, 75, 75, 0.5);
}

/* COBAIA */

.person {
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 100%;
}
