/*.opcoes {
    display: none;
}
*/
.opcional {
    display: none;
}

div.selecao, .opcoes {
    display: none;
    flex-direction: column;
    color: rgb(65, 65, 65);
}

.questoes_opcionais  {
    display: none;
}
