extends master.pug
block head
    title Sobre Nós
    link(rel="stylesheet" href="../css/aboutPage.css")
block content
    div.description.d-flex.flex-column.align-items-center
        h2.d-flex.justify-content-center.mt-5 O Projeto
        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    hr.w-50
    div.colaborators.d-flex.flex-column.mt-3
        h3.text-center.mb-5 Colaboradores
        div.d-flex.justify-content-around.mb-5.flex-wrap
            div.collaborator.d-flex.flex-column.align-self-center
                div.icon.align-self-center
                    div(src="#").ilustration
                    h5.justify-content-center.d-flex Name
                div.aboutMe
                    p.text-center.align-self-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            div.collaborator.d-flex.flex-column.align-self-center
                div.icon.align-self-center
                    div(src="#").ilustration
                    h5.justify-content-center.d-flex Name
                div.aboutMe
                    p.text-center.align-self-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            div.collaborator.d-flex.flex-column.align-self-center
                div.icon.align-self-center
                    div(src="#").ilustration
                    h5.justify-content-center.d-flex Name
                div.aboutMe
                    p.text-center.align-self-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            div.collaborator.d-flex.flex-column.align-self-center
                div.icon.align-self-center
                    div(src="#").ilustration
                    h5.justify-content-center.d-flex Name
                div.aboutMe
                    p.text-center.align-self-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            div.collaborator.d-flex.flex-column.align-self-center
                div.icon.align-self-center
                    div(src="#").ilustration
                    h5.justify-content-center.d-flex Name
                div.aboutMe
                    p.text-center.align-self-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        block foot
