extends master.pug
block head
    link(rel="stylesheet" href="../css/feedPage.css")
    title Feed de Notícias
block content
    div.title.container-fluid.d-flex.mt-4.align-items-center.justify-content-around
        h2.d-flex Feed de Notícias
        a(href="./report.pug").btn.btn-outline-dark.btn-lg.btn-block.btn-sm.report.mb-5 Reportar
    div.map.d-flex.justify-content-center.mt-5.mb-4
        img.w-75.h-75(src="https://rocketz.com.br/assets/store/img-store-cu-map-100123ec35cb58f100158e68b53bcd0c77a7f5120769df584d4aa67bb56e1c8c.jpg")
    hr
    h2.d-flex.mt-4 Notícias
    div.rssArea.d-flex.flex-row.w-100.justify-content-center.mt-5
        div.news
            //- Para reinderização de rss de noticias externas
block foot.sugestion
block script
    script(src="../js/feed.js")
