extends master.pug
block head
    link(rel="stylesheet" href="../css/homePage.css")
    link(rel="stylesheet" href="../css/style.css")
block content
    div.project.d-flex.justify-content-center.flex-column.align-items-center.mt-3
        a(href="./about.pug") Project Name
        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            //- a(href="./about.pug")  Ler mais
    hr.w-50
    div.feed.container-fluid.d-flex.flex-column
        h2.ml-4 Feed
        div.interation.d-flex.flex-row
            div#mapIndex.w-75             

            div.optionsReport.w-50.mt-5
                h3 Tipo de violencia
                hr
                ul.list-group.w-150.d-flex.news
                    //- Para reinderização de rss de noticias externas
                a.btn.btn-outline-dark.btn-lg.btn-block.mt-4(href="./report.pug") Reportar
block foot.sugestion
block script
    script(src="../js/main.js")

